/* Estilos globales */
body {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("imagenes/fondo-onda-blanca-suave_52683-55288.avif"); /* Agrega la imagen de fondo*/
    background-position: center center; /* Centra la imagen de fondo, tanto horizontal como verticalmente */
    background-repeat: no-repeat; /* Evita que la imagen se repita*/
    background-size: cover; /* La imagen cubre toda el área de fondo */
    background-attachment: fixed; /* La imagen de fondo se fija en su posición mientras de desplaza el contenido */
}

/* Estilos del encabezado */
header {
    background-color: #987D9A;
    display: flex;
    justify-content: left;
}

.logo img {
    max-height: 200px;
    max-width: fit-content;
    border-radius: 60%; /* Hace que la imagen sea redonda */
    background-color: #987D9A; /* El fondo del borde coincide con el header */
    display: block; /* Elimina el espacio en línea */
    border: 15px solid #987D9A; /* Añade un borde del mismo color que el fondo */
}

.foto-profesiones {
    max-height: 200px;
    max-width: fit-content;
    background-color: #987D9A;
    display: block;
}

/* Estilos de la sección principal */
h1, h2, h3{
    color: #333;
    text-align: center;
    margin: 20px 10px; /* margin-top: 20px; margin-bottom: 20px; margin-left: 10px; margin-right: 10px; */
}

/*Estilos para el texto de la presentación*/
.texto-presentacion {
    text-align: center; /* Centra el texto */
    padding: 80px 80px; /* Espacio alrededor del contenido */  
}
  
  .texto-presentacion h2 {
    font-size: 24px; /* Tamaño del encabezado */
    font-weight: bold; /* Encabezado en negrita */
    margin-bottom: 50px; /* Espacio entre encabezado y párrafo */
}
  
  .texto-presentacion p {
    font-size: 16px; /* Tamaño del párrafo */
    line-height: 1.5; /* Espacio entre líneas */
    color: #333; /* Color del texto */
    margin-top: 60px;  
}
  

/* Estilos para el contenedor del formulario de login/registro pagina-inicial*/
.login-registro-pagina-inicial {
    display: block; /* Asegúrate de que todos los elementos hijos sean de bloque */
    text-align: center; /* Centra horizontalmente los elementos */
    margin: 0 auto; /* Centra el formulario horizontalmente */
    width: 300px; /* Ancho máximo del contenedor */
    padding: 25px; /* Agrega espacio en todos los lados */
    gap: 20px; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"],
input[type="email"] { /*Selecciona directamente todos los inputs con esas características dentro de tu documento HTML*/
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px; /* Espacio entre los inputs y el botón */
    box-sizing: border-box; 
    width: 20em; /* Relativa al tamaño de la fuente y se adapta mejor a diferentes tamaños de pantalla */
    font-family: "Oswald", sans-serif;
    font-size: 1rem;
}

button[type="submit"] {  /* Selecciona directamente todos los botones de tipo "submit" dentro de tu documento HTML*/
    background-color: transparent;
    border: 2px solid #333;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    color: #783e7b;
    font-family: "Oswald", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin: 10px 0; /* Espacio entre los botones */
}

button[type="submit"][data-hover="true"]:hover {
    background-color: #dcd2dd;
}

.final-form-pagina-inicial {
    display: block;
    text-align: center;
    margin-top: 10px; /* Espacio entre el botón submit y el enlace */
    color: #783e7b;
    text-decoration: underline;
}

/* Estilos del pie de página */
footer {
    background-color: #987D9A;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 4px rgba (0, 0, 0, 1);    
}

/* Estilos para pantallas grandes (computadoras) */
@media (min-width: 768px) {
    .login-registro-pagina-inicial {
      width: 400px; /* Ancho para pantallas grandes */
    }
  }
  
  